<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold" id="infoModalLabel">Process Flow</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- Section 1 -->
        <div>
          <p class="fw-bold mb-1">1. New Application</p>
          <p class="fw-semibold">Step 1:</p>

          <div class="mb-3">
            <!-- <p class="fw-bold mb-1"><img src="logo/app_on_timescape.png" width="20" class="me-2">APPLY ON TIMESCAPE</p> -->
            <ul>
              <li>Log in to the Timescape and navigate to myHR / ESSENTIALS -> <strong>TOI Education Excellence Awards</strong></li>

            </ul>
          </div>
          <p class="fw-semibold">Step 2:</p>
          <div class="mb-3">
            <!-- <p class="fw-bold mb-1"><img src="logo/hr-review.png" width="20" class="me-2">REVIEW</p> -->
            <ul>
              <li>Go to <strong>"New Application"</strong>, enter the Child's information and upload all the supporting documents</li>
            </ul>
          </div>

          <div class="mb-3">
            <!-- <p class="fw-bold mb-1"><img src="logo/Result-Announcement.png" width="20" class="me-2">RESULT ANNOUNCEMENT</p> -->
            <ul>
              <li>Upon review of all applications, result would be announced via <strong>HR Connect</strong>. Employees of the selected awardees will be able to download the <strong>Scholarship Certificate</strong> from timescape. A hard copy of the certificate will be sent to the HR representative at your location. </li>
            </ul>
          </div>

          <div class="mb-3">
            <!-- <p class="fw-bold mb-1"><img src="logo/Disbursement.png" width="20" class="me-2">DISBURSEMENT</p> -->
            <ul>
              <li>For disbursement of the Scholarship Amount, employees are requested to upload a cancelled cheque in the child’s name. In case your child does not have a bank account, we request you to kindly open one to enable timely transfer.<strong></strong>.</li>
            </ul>
          </div>
        </div>

        <!-- Section 2 -->
        <div class="mt-5">
          <p class="fw-bold mb-1">2. Continuity Application</p>
          <p class="fw-semibold">Step 1:</p>

          <div class="mb-3">
            <!-- <p class="fw-bold mb-1"><img src="logo/submit-update-document.png" width="20" class="me-2">APPLY ON TIMESCAPE</p> -->
            <ul>
              <li>Log in to the Timescape and navigate to myHR / ESSENTIALS -><strong>TOI Education Excellence Awards</strong></li>
            </ul>
          </div>
          <p class="fw-semibold">Step 2:</p>
          <div class="mb-3">
            <!-- <p class="fw-bold mb-1"><img src="logo/Result-Announcement.png" width="20" class="me-2">GO TO "CHECK STATUS"</p> -->
            <ul>
              <li>Go to <strong>"Check Status"</strong>, and click on Continue Scholarship. Enter the marks / CGPA and upload the supporting documents.</li>
            </ul>
          </div>
          <p class="fw-semibold">Step 3:</p>
          <div class="mb-3">
           <!-- <p class="fw-bold mb-1"><img src="logo/hr-review.png" width="20" class="me-2">REVIEW</p> -->
            <ul>
              <li>Upon confirmation, you would be able to download the certificate from timescape.</li>
            </ul>
          </div>
          <p class="fw-semibold">Step 4:</p>
          <div class="mb-3">
            <!-- <p class="fw-bold mb-1"><img src="logo/Disbursement.png" width="20" class="me-2">VERIFICATION AND DISBURSEMENT</p> -->
            <ul>
              <li>Please verify child’s bank account details. In case of change, please upload a new <strong>cancelled cheque</strong> in the child’s name</li>
            </ul>
          </div>
           <div class="mb-4">
            
              <p>Continuation of Scholarship is subject to meeting the minimum academic performance criteria.</p>
           
          </div>
        </div>
         

      </div>
    </div>
  </div>
</div>
