<div class="header">
<div class="logo" [routerLink]="['/toi-education']" routerLinkActive="router-link-active" >
    <img src="logo/new_logo.jpeg" alt="">
</div>
<div [libMenuBar]="['right', menu]"></div>
</div>

  <div class="d-flex align-items-center p-2 form-title">
    <div class="col">
      <h5 class="text-center">CHECK STATUS</h5>
    </div>
  </div>

<div class="p-3 ">
    <div [libCustomTable]="tableData" [columns]="tableColumns"></div>
</div>


<!-- Student Details Modal -->
<div class="modal fade" id="studentDetailsModal" tabindex="-1" aria-labelledby="studentDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="studentDetailsModalLabel">Student Application Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <!-- Application ID -->
          <div class="row mb-4">
            <div class="col-12">
              <div class="field-box">
                <label class="form-label">Application ID</label>
                <div class="value">{{ selectedStudentDetails.applicationId }}</div>
              </div>
            </div>
          </div>

          <div class="row g-3">
            <!-- Use consistent structure for all fields -->
           <div class="col-md-3 col-sm-6" *ngFor="let field of fieldList">
            <ng-container *ngIf="selectedStudentDetails[field.key]">
                <div class="field-box">
                <label class="form-label">{{ field.label }}</label>
                <div class="value">{{ selectedStudentDetails[field.key] }}</div>
                </div>
            </ng-container>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>